/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

/*#logo h1 {
  margin: 0.5em;
  padding-bottom: 0.5em;
  border: 0.5em;
  display: inline-block;
  vertical-align: middle;
}
*/